.portfolio_content {

    display: flex;
    flex-direction: column;
    background-color: var(--darkbackground);
    justify-content: center;
    align-items: center;
    

}




.portfolio_content h1 {
    color: #f76a52;
    font-size: var(--divheadings);
 }

 .model_setting {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 4rem;

    margin-bottom: 3rem;
 }

 @media screen and (max-width:850px) {
    .model_setting {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
 }


 