.head_content {
    line-height: 3.5rem;
    background-color: var(--darkbackground);
    display: flex;
    flex-direction: column;
    padding: 150px;
    min-height: 100px;
}

.head_content p {
    margin-bottom: 0.5rem;
    font-size: 52px;
    font-weight: 800;
    color: #494949;
    text-decoration: none;
}
.head_content a1 {
    /* margin-bottom: 1rem; */
    font-size: 64px;
    font-weight: 900;
    color: #ffffff;
    

}
.button_check Button {
    margin-top: 1rem;
    color: #ffffff;
    font-weight: 350;
    font-size: 18px;
    background-color: #f76a52;
    border: none;
    border-radius: 0px;
    box-shadow:none;
    cursor: pointer;
    text-decoration: none;
}
.button_check Button:hover {
    background-color: #ffffff;
    color: #232323;
    box-shadow: none;
}

@media screen and (max-width:1050px) {
    .head_content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

 
 
} 
  @media screen and (max-width:650px) {
        .button_check Button {
            font-size: 12px;
        }
    }
