.features_content {
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    justify-content: center;
    align-items: center;

}

.features_content h1 {
    color: #ed684d;
    font-size: var(--divheadings);

}



.div_divider {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
}

.about_me_picture {
    background-color: #1f1f1f;
    min-width: 300px;
    min-width: 300px;
    max-height: 300px;
    margin-right: 2rem;
    box-shadow: 0 0 3px -9px #111111, 0 0 9px #111111;
}

.about_me_picture img {
    max-width: 300px;
    max-height: 300px;
    

}


.about_me_content {
    /* text-align: left; */
    justify-content: left;
    max-width: 500px;
}

.features_content a {
    color: #ffffff;
    font-size: 16px;
}
.features_content a1 {
    color: #ffffff;
    font-size: 19px;
}


.info {
    display: grid;
    grid-template-columns: 300px 300px;    
}



.features_content h2 {
    color: #ed684d;
    /* color: #ffffff; */
    font-size: 24px;
    /* line-height: 0.1rem; */
    height: 1rem;
}

.features_content h {
    color: #ed684d;
    /* color: #ffffff; */
    font-size: 24px;
    /* line-height: 0.1rem; */
}

.information_name, .information_phone, .information_country, .information_email {
    background-color: #1f1f1f;
    text-align: center;
    justify-content: centert;
}

.info_icons {
    background-color: #1f1f1f;
    min-width: 600px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.info_icons_sizing {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: center;
    /* align-items: center; */
    gap: 2.5rem;
}


.info_icons_sizing a:hover {
    cursor: pointer;
    opacity: 80%;
    transform: scale(1.2);
    transition: 0.1s ease;
}